<div id="principal" style="margin-top: 10px;margin-bottom: 10px;">
    <div class="row col-md-12 bottom" style=" margin-right: 0px;margin-left: 0px;padding-left: 0px;">
        <a href="https://ec.europa.eu/info/index_en" target="_blank" title="EU" id="eulogo">
            <img id="logo" style="vertical-align: bottom" class="col-md-6" height="auto" width="100%"
                src="../assets/logos/european_comission.png">
        </a>
        <p id="textoFooter" class="col-md-4 text-center" style="font-size:11px; ">This project has received funding from
            the European Union’s Horizon 2020 research and innovation programme under the grant agreement No <a
                href="https://cordis.europa.eu/project/id/875452" target="_blank" title="EUGrant" id="grant">875452</a>.
        </p>

        <div class="column" class="col-md-2" style="margin-top: auto">
            <b>
                <p class="col-md-12 text-center"
                    style="font-weight:500; font-size:14px; padding-left:0px; padding-right:0px; ">
                    {{'contact'| translate}}</p>
            </b>
            <p class="col-md-12 text-center"
                style="font-weight:500; font-size:14px; padding-left:0px; padding-right:0px"> <a
                    href="https://www.platformuptake.eu/" target="_blank" title="platform_web"
                    id="web">https://www.platformuptake.eu/</a></p>
        </div>

        <div class="column" class="col-md-1 text-center" style="margin-top: auto;">
            <a href="https://twitter.com/PlatformUptake" target="blank" rel="noopener noreferrer"><br>
                <i class="fa fa-twitter-square fa-2x"></i><br>
            </a>
        </div>

        <div class="column" class="col-md-4" style="margin-top: auto">
            <p class="col-md-12" style="font-weight:500; font-size:14px; padding-left:0px; padding-right:0px">&copy;
                2021
            </p>

            <p class="col-md-12" style="font-weight:500; font-size:14px; padding-left:0px; padding-right:0px">Life
                Supporting Technologies | UPM</p>
            <p class="col-md-12" style="font-weight:500; font-size:14px; padding-left:0px; padding-right:0px">
                Distributed Knowledge and Media Systems | ICCS</p>
        </div>
    </div>
</div>