<div class="content content_top_margin_none" style="min-height: 123px;">
    <div class="content_inner  ">

        <div class="container">
            <div class="container_inner default_template_holder">
                <div class="page_not_found">
                    <h2> {{'error_404'|translate}} </h2>
                    <p> The page you are looking for does not exist. It may have been moved. You can go back to the site’s homepage and try to find what you are looking for. </p>

                    <p><a itemprop="url" class="qbutton with-shadow" href="/"> Back to homepage </a>
                    </p>
                    <div class="separator  transparent center  " style="margin-top:35px;"></div>
                </div>
            </div>
        </div>
        <div class="content_bottom">
        </div>

    </div>
</div>