<div *ngIf="isLoading" class="center_loader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!seeDetailsView && !isLoading" class="row" style="width: 100%">
    <div class="col-12" style="width: 100%;margin-top:22px">
        <h6>{{'self_assessment_results_title'|translate}}</h6>
    </div>
    <div *ngFor="let rating of ratingsList" style="width: 100%;margin-top:22px">
        <div class="col-12" style="margin-top: 15px;margin-bottom: 10px; ">
            <p>{{'question'|translate}}: {{rating.developerquestion_title}}</p>
        </div>
        <div class="col-12 " style="width: 100%;margin-top:22px">
            <div class="row">
                <div class="col-12 "
                    *ngIf="rating.developerquestion_type_abb=='RT'||rating.developerquestion_type_abb=='R'"
                    style="text-align: center; margin-top: 5px;">
                    <h3 class="center">{{rating.mean_rating |number: '1.1-1'}}</h3>

                    <ng-template #star let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span [class]="getTemplate(rating.mean_rating)" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>

                    <ngb-rating [rate]="rating.mean_rating" [starTemplate]="star" [readonly]="true" [max]="5">
                    </ngb-rating>

                    <p class="center">{{rating.numberofratings}} {{'reviews'|translate}}</p>
                    <ng-container *ngIf="rating.numberofratings>0">

                        <div class="row">
                            <div class="col-4"></div>
                            <button class="col-4 btn btn-lg  btn-block btn btn-outline-primary"
                                (click)="buttonSeeDetails(rating)">{{'see_details'|translate}}
                            </button>
                        </div>
                    </ng-container>
                </div>
                <div class="col-12 " *ngIf="rating.developerquestion_type_abb=='T'">

                    <ng-container *ngIf="rating.hastext">
                        <div class="row">
                            <div class="col-4"></div>
                            <button class="col-4 btn btn-lg  btn-block btn btn-outline-primary"
                                (click)="buttonSeeDetails(rating)">{{'see_details'|translate}}</button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <mat-divider style="margin-bottom: 10px;margin-top: 10px;"></mat-divider>
    </div>
</div>
<div style="margin-top: 20px;"></div>