<mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngIf="isAdmin">
        <ng-template mat-tab-label>
            <label class="pointer" matTooltip="{{'data_management_KPIs_definition_label_tooltip'|translate}}"
                matTooltipPosition="below" [matTooltipShowDelay]="1000">
                <span>{{'kpi_definition_title' | translate}}</span>
                <img *ngIf="selected_tab_kpi_def" src="/assets/icons/info_light_blue.png" width="15px" height="15px"
                    style="margin-left: 5px;">
                <img *ngIf="!selected_tab_kpi_def" src="/assets/icons/info_grey.png" width="15px" height="15px"
                    style="margin-left: 5px;">
            </label>
        </ng-template>
        <div class="">
            <ng-template matTabContent>
                <app-dm-kpi-definition></app-dm-kpi-definition>
            </ng-template>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <label class="pointer" matTooltip="{{'data_management_KPIs_label_tooltip'|translate}}"
                matTooltipPosition="below" [matTooltipShowDelay]="1000">
                <span>{{'kpi_values_title' | translate}}</span>
                <img *ngIf="selected_tab_kpi_values" src="/assets/icons/info_light_blue.png" width="15px" height="15px"
                    style="margin-left: 5px;">
                <img *ngIf="!selected_tab_kpi_values" src="/assets/icons/info_grey.png" width="15px" height="15px"
                    style="margin-left: 5px;">
            </label>
        </ng-template>
        <div class="">
            <ng-template matTabContent>
                <app-dm-kpi-values></app-dm-kpi-values>
            </ng-template>
        </div>
    </mat-tab>
</mat-tab-group>