<div class="row" style="width: 100%;margin-top:35px">
    <div class="col-md-1">
        {{'platforms'|translate }}
    </div>
    <div class="col-md-3">
        <mat-form-field style="margin-left: 35px;" appearance="outline">
            <mat-label>{{'select_platforms'|translate}}</mat-label>
            <mat-select [(value)]="selectedPlatforms" multiple>
                <mat-option #allPlatforms (click)="selectAllPlatforms()" value="all_platforms">
                    {{'all_platforms' |translate}}</mat-option>
                <mat-option *ngFor="let pltfm of platformsTitles" [value]="pltfm.key" (click)="applyFilter()">
                    {{pltfm.title}} </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <div *ngIf="isLoadingPlatforms || isLoadingScores ">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    </div>


    <div class="col-md-1">
        {{'period'|translate }}
    </div>
    <div class="col-md-3">
        <mat-form-field appearance="outline">
            <mat-label>{{'select_period'|translate}}</mat-label>
            <mat-select [(value)]="period_selected_id" (selectionChange)="refreshPageWithNewPeriod()">
                <mat-option *ngFor="let period of periods" [value]="period.measurement_period_id">
                    {{period.measurement_period_title}} ({{period.from_date| date:'LLL-yy'}}-{{period.until_date|
                    date:'LLL-yy'}})
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row" style="width: 100%;margin-top:10px;margin-bottom: 20px;" *ngIf="!isLoading">
    <div class="table-container" style="width: 100%;">
        <table mat-table [dataSource]="tableDataSource" matSort matSortActive="position" matSortDirection="asc">
            <ng-container matColumnDef="position" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'position'|translate}}<label class="pointer"
                        matTooltip="{{'info_platform_comparison_global_ranking'|translate}}" matTooltipPosition="below"
                        [matTooltipShowDelay]="1000">
                        <img src="/assets/icons/info_light_blue.png" width="15px" height="15px"
                            style="margin-left: 5px;">
                    </label></th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="data.position!=null">{{data.position}}</ng-container>
                    <ng-container *ngIf="data.position==null">--</ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="platform" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'platform_title' |translate}}
                </th>
                <td mat-cell *matCellDef="let data">
                    <img src={{data.icon}} style="width: 75px; margin-right: 5px;"> {{data.platform}}

                </td>
            </ng-container>
            <ng-container matColumnDef="score_variation">
                <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let data" style="width: 50px;"> <img src={{data.score_variaton_icon}}
                        style="margin-left: 15px;">
                </td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'global_score_title'|translate}}<label
                        class="pointer" matTooltip="{{'info_platform_comparison_global_score'|translate}}"
                        matTooltipPosition="below" [matTooltipShowDelay]="1000">
                        <img src="/assets/icons/info_light_blue.png" width="15px" height="15px"
                            style="margin-left: 5px;">
                    </label></th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="data.score!=null">{{data.score}}</ng-container>
                    <ng-container *ngIf="data.score==null">--</ng-container>/100
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsTitle; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsTitle;"></tr>

        </table>
    </div>
</div>