<div *ngIf="isLoading" style="width: 80%;margin-top:22px">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-container *ngTemplateOutlet="!showNewPeriod ?  listPeriodsTemplate : createNewPeriodTemplate"></ng-container>
<ng-template #listPeriodsTemplate>
    <div>
        <div class="row" style="width: 100%;margin-top:22px">
            <div class="col-md-3">
                <button (click)="changeView()" class="btn btn-lg  btn-block btn btn-outline-primary">{{'add_new_measurement_period'|translate}}</button>
            </div>
        </div>
        <div *ngFor="let periodInfo of listToShow" style="width: 100%;margin-top:20px;margin-bottom: 20px;">
            <div class="row" style="width: 100%;">

                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    {{periodInfo.periodTitle}}
                </div>
            </div>

            <div class="table-container" style="width: 100%;">
                <table mat-table [dataSource]="periodInfo.periodList" matSort>
                    <ng-container matColumnDef="period_title">
                        <th mat-header-cell *matHeaderCellDef>{{'period_title'|translate}}</th>
                        <td mat-cell *matCellDef="let data">{{data.measurement_period_title}}</td>
                    </ng-container>
                    <ng-container matColumnDef="period_ready">
                        <th mat-header-cell *matHeaderCellDef>{{'ready_to_use'|translate}}</th>
                        <td mat-cell *matCellDef="let data">{{!data.flagged }}</td>
                    </ng-container>
                    <ng-container matColumnDef="from">
                        <th mat-header-cell *matHeaderCellDef>{{'from'|translate}}</th>
                        <td mat-cell *matCellDef="let data">{{data.from_date| date:'dd-LLL-yy'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="until">
                        <th mat-header-cell *matHeaderCellDef>{{'until'|translate}}</th>
                        <td mat-cell *matCellDef="let data">{{data.until_date| date:'dd-LLL-yy'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="edit_button">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let data">
                            <button mat-button class="btn-block btn btn-outline-primary" (click)="edit(data)">{{'edit'|translate}}</button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsTitle; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsTitle;"> </tr>
                </table>
            </div>
            <div class="row" style="width: 100%;"></div>
        </div>
        <div class="row" style="width: 100%;margin-top: 20px;"></div>
    </div>
</ng-template>
<ng-template #createNewPeriodTemplate>

    <div *ngIf="isSaving" class="center_loader;row" style="width: 100%;height: 100vh;margin-top:22px">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="!isSaving" style="width: 100%;">

        <div class="row" style="width: 100%;margin-top:15px">
            <div class="col-md-6" style="margin-left: 2px;">
                <mat-slide-toggle [checked]="period_selected.isReady" [(ngModel)]="period_selected.isReady">
                    {{'period_ready' |translate}}
                </mat-slide-toggle>

            </div>
        </div>
        <div class="row" style="width: 100%;margin-top:15px">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>{{'period_type'|translate}}</mat-label>
                    <mat-select [(value)]="period_selected.period_type">
                        <mat-option *ngFor="let period_type of periods_type_names" [value]="period_type.periodtype_id">
                            {{period_type.periodtype_title}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <input type="text" class="form-control" [(ngModel)]="period_selected.measurement_period_title" placeholder="{{'period_title' | translate}}" [ngClass]="{ 'is-invalid': submitted  }" />

            </div>
        </div>

        <div class="row" style="width: 100%;margin-top:15px">
            <div class="col-md-4">

                {{'from'|translate}}
                <input matInput [matDatepicker]=pickerFrom [(ngModel)]="period_selected.from_date">
                <mat-datepicker-toggle [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-4">
                {{'until'|translate}}
                <input matInput [matDatepicker]="pickerUntil" [(ngModel)]="period_selected.until_date">
                <mat-datepicker-toggle matSuffix [for]="pickerUntil"></mat-datepicker-toggle>
                <mat-datepicker #pickerUntil></mat-datepicker>
            </div>
        </div>

        <p>{{errorMsg}}</p>

        <div class="row" style="width: 100%;margin-top:15px;margin-bottom: 15px;">

            <div class="col-md-7">
            </div>
            <div class="col-md-2">
                <button class="btn btn-lg  btn-block btn btn-outline-primary" (click)="changeView()">
                    {{'cancel' | translate}}</button>
            </div>

            <div class="col-md-2">
                <button class="btn btn-lg  btn-block btn btn-outline-primary" (click)="save()">
                    {{'save' | translate}}</button>
            </div>

        </div>

    </div>
</ng-template>